
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Kavoon&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --teal: #4CA7C0;
  --purple: #484FB7;
  --lavender: #6B8FE7;
  --yellow: #E9BB57;
  --pink: #D9526F;
  --dark: #1E1E1E;
  --white: #ffffff;
}

body {
  font-family: 'Inter', sans-serif;
  background: #7d92e8;
  display: flex;
  justify-content: center;
}

.page-wrap {
  max-width: 450px;
  background: var(--purple);
  color: var(--white);
}


header {
  text-align: center;
  padding: 20px;
}

h1 {
  font-family: 'Kavoon';
  font-size: 3em;
}

header p {
  font-size: 0.9em;
}


nav {
  background: var(--yellow);
  text-align: center;
  padding: 10px;
}

